.registration-container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  button.btn {
    width: 100%;
    padding: 10px;
  }
  
  small.text-danger {
    color: red;
  }
  