


h1{
   
    background: linear-gradient(to right, #f503a4, #a202ff); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center; /* Center the text */
    font-size: 3rem;
    
}



.btn_login{   
  
     margin-right: 2%;
     margin-bottom: 2%;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #ff029e, #c401ff); /* Gradient colors */
            border: none;
           
            font-size: 18px;
            color: white;
          
            cursor: pointer;
            transition: 0.3s;
}

.btn_reg{
    
  
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #ff029e, #c401ff); /* Gradient colors */
            border: none;
           
            font-size: 18px;
            color: white;
          
            cursor: pointer;
            transition: 0.3s;
}

button:hover {
    background: linear-gradient(to right, #e100ff, #ff008c); /* Reverse gradient on hover */
}

div{
    justify-content: center; 
            align-items: center;  
            margin-top: 20%;  
         
}
.btn_div{
    text-align: center;
    margin-top: 50px;
   
}