.table{
    margin-top: 100px;
  
}

.tablecolor{
background-color: rgba(169, 210, 248, 0.411) !important;
}
.btn{
    background-color: #0b1836;
    color: white;
    
}
.btn:hover{

    border: red;
}
.noproject-text{
    margin-top: 100px;
}