
.profileimg{
    width: 100px;
    height: 100px;
}
.custom-toggle-img{
    width: 50px;
    height: 50px;
}
.side-bar{
    width: 290px;
}
.accordion-item{
    width: 290px;
}
.bodycolor{
    background-color: aliceblue;
}
.btn-dark{
    border-radius: 60px;
}
.profile-box {
    position: absolute;
    top: 50px;
    right: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .card{
    margin-top: 5%;
 
        box-shadow: 0 10px 15px rgba(4, 119, 185, 0.432);
      
  }
  
  .hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .navbar{
    background-color: #ddf0fac9 !important;
  }
  .username{
    padding-top: 100px;
  }